<h2 class="blogTitle">Blog Post1</h2>
<p class="blogContent">I am blog content. I am blog content. I am blog content. I am blog content.
    I am blog content. I am blog content. I am blog content. I am blog content. I am blog content. I am blog
    content.
    I am blog content. I am blog content. I am blog content. I am blog content. I am blog content. I am blog
    content.
    I am blog content. I am blog content. I am blog content. I am blog content. I am blog content. I am blog
    content.
    <br>
<div class="authorWrapper row 4">
    <i class="bogPostBy col-4 offset-lg-8 offset-md-7">
        <sm>By Author Here at 02/22/222 24:00:24 </sm>
    </i>
</div>