<div id="signUpForm" class="signUpWrapper col-6 offset-4">
    <form class="row-12">
        <h2>Sign Up Now!</h2>
        <input class="col-8">
        <input class="col-8">
        <div class="row-12">
            <a class="col-4"></a><button class="navBtn signInBtn">Sign Up</button></a>
        </div>
    </form>
</div>