
<div id="logInForm" class="logInWrapper col-6 offset-4">
    <form class="row-12">
        <h2>Login: </h2>
        <input id = "user-login" class="col-8"><sm>username or email</sm><br>
        <input  id = "password-login" class="col-8"><sm>password</sm>
        <div class="row-12">
            <a class="col-4"><button id = "logInPageBtn" class="navBtn signInBtn col-4">Log In</button></a>
        </div>
    </form>
</div>

<script src='./js/signin-signup.js'></script>

{{!-- type = "password" --}}